.pageContainer {
  padding: 40px;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 8px;
  overflow: hidden;

  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.pageContainer h2,
.pageContainer h3,
.pageContainer p {
  color: inherit;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
